*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --color-1: rgb(138, 181, 210);
    --color-2: rgb(157, 198, 209);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
    background: #000;
    background-size: cover;
    overflow-x: hidden;
    color: var(--color-1);
    animation: fade 3s infinite alternate;
}

@keyframes fade {
    0% {
        color: var(--color-1);
    }
    50% {
        color: var(--color-2);
    }
    100% {
        color: var(--color-1);
    }
}

a {
    color: inherit;
    text-decoration: none;
}
